<ol class="list-group m-5">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">
		<p> 
			Name:
		</p>
	  </div>
	  	<p class="fw-bold">
			Comment: 
		</p>
    </div>
  </li>
</ol>

<form action="" class="form bg-white text-dark m-5 p-4 rounded-3">
	<div class="mb-3">
		<label for="exampleFormControlInput1" class="form-label">Email address</label>
		<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
		</div>
	<div class="mb-3">
		<label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
		<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
	</div>
	<button type="submit" class="btn btn-primary"> Submit </button>
</form>
